/env
/simorgh-aws
/simorgh-aws-instructions.docx
/simorgh-aws.Rproj
/simorgh-aws.zip
/simorghmse
/simorghndt
/simorghndtcode
/simorghshm
/simorghshmcode
/test123.zip
*.zip
*.bin
*/.DS_Store
*/.ipynb_checkpoints
*/.Rproj.user/
*/.Rhistory
*/.RData
*/.Ruserdata
*/__pycache__
*.pyc
.Rproj.user
